.btn-default {
  padding: 10.5px 33px;
  font-family: 'PT Sans', $font-family-sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  background: #0d74b9;
  appearance: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
