/*
** START: HEADER
*/

.section-header {
  background: url('../images/bg.png') 0 0;

  .container { height: 100%; }

  .logo { max-width: 100%; }
}

.section-header__iphone {
  margin-left: 50px;
}

.download-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.download-links__link {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    margin-right: 15px;
    border-radius: 26px;
    background-color: #000000;
    opacity: .5;
    transition: opacity 300ms ease-in-out;

    &:hover { opacity: 1 }
  }

  &:last-child a { margin-right: 0 }
}

.section__iphone { max-width: 100% }

// Media queries

@include media-breakpoint-up(lg) {
  .section-header {
    height: 605px;
  }

  .heading-1,
  .subheading,
  .download-links { margin-left: 60px; }
}

@include media-breakpoint-down(lg) {
  .heading-1,
  .subheading,
  .download-links { text-align: center }

  .download-links { justify-content: center; }

  .section__iphone {
    margin-top: 40px;
  }
}

@include media-breakpoint-down(md) {
  .section-header { padding-top: 20px }

  .section__iphone { padding: 0 15px }
}

@include media-breakpoint-down(md) {
  .section__iphone { padding: 0 40px }
}

/*
** END: HEADER
*/


/*
** START: FEATURES
*/

.section-features {
  padding: 60px 0;
}

.features-list {
  padding: 0;
  list-style: none;
}

.features-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 51px 48px 40px;
}

.features-list__icon {
  margin-bottom: 24px;
}

.features-list__feature-title {
  margin-bottom: 18px;
  font-family: 'PT Sans', $font-family-sans-serif;
  font-size: 24px;
}

.features-list__feature-desc {
  color: #848484;
  line-height: 26px;
  text-align: center;
}

// Media queries

@include media-breakpoint-up(lg) {
  .features-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 51px 48px 40px;
    border: .5px solid #e3e3e3;
    border-bottom: none;

    &:nth-child(3n+1) {
      padding-left: 16px;
      border-left: none;
    }

    &:nth-child(3n+3) {
      padding-right: 16px;
      border-right: none;
    }

    &:nth-child(-n+3) { border-top: none; }

    &:nth-child(3n+2) {
      border-left: none;
      border-right: none;
    }
  }
}

/*
** END: FEATURES
*/


/*
** START: ABOUT
*/

.section-about {
  padding: 60px 0;
  background-color: #e7e7e7;
}

.section-about__list {
  padding-left: 20px;
  color: #848484;
  list-style: none;

  li {
    margin-bottom: 5px;

    &::before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 13px;
      margin-right: 15px;
      background: url(../images/icons/arrowlf-icon.svg) 0 0 no-repeat;
    }
  }
}

// Media queries

@include media-breakpoint-down(lg) {
  .section-about__video {
    max-width: 100%;
    margin-top: 40px;
  }
}

/*
** END: ABOUT
*/


/*
** START: TESTIMONIALS
*/
.section-testimonials {
  padding: 60px 0;
  text-align: center;

  blockquote {

    p {
      font-size: 24px;
      color: #848484;
      font-style: italic;
    }

    cite {
      font-family: 'PT Sans', $font-family-sans-serif;
      font-size: 18px;
      font-style: normal;
    }
  }
}

/*
** END: TESTIMONIALS
*/


/*
** START: PRICING PLANS
*/

.section-pricing-plans {
  padding-top: 60px;
  background-color: #e7e7e7;
}

.pricing-plans__list {
  margin: 17px 0 0;
  list-style: none;
  padding: 0;
}

.pricing-plans__item {
  margin-right: 5px;
  margin-bottom: -72px;
  background-color: #fff;

  &:last-child { margin-right: 0 }
}

.pricing-plans__item-header {
  padding: 7px 0;
  background-color: #3498db;
  text-align: center;
}

.pricing-plans__name,
.pricing-plans__price,
 {
  font-family: 'PT Sans', $font-family-sans-serif;
}

.pricing-plans__name {
  margin-bottom: 0;
  font-size: 28px;
  color: #fff;
}

.pricing-plans__price {
  display: flex;
  justify-content: center;
  font-size: 42px;

  span {
    display: inline-block;
    align-self: flex-start;
    padding-top: 5px;
    font-size: 24px;
  }
}

.pricing-plans__features-list {
  padding: 0;
  margin: 0 20px;
  color: #848484;
  list-style: none;

  li {
    display: block;
    padding: 11px 0;
    border-top: 1px solid #c2c2c2;
    text-align: center;
  }
}

.pricing-plans__item-footer {
  padding: 20px 0;
  background-color: #3498db;
  text-align: center;
}

// Media queries

@include media-breakpoint-down(lg) {
  .pricing-plans__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/*
** END: PRICING PLANS
*/


/*
** START: CONTACT
*/

.section-contact {
  padding: 120px 0 60px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links__link {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #c5c5c5;
    transition: background-color 300ms ease-in-out;

    &:hover { background-color: #3498db; }
  }

  &:last-child a { margin-right: 0 }
}

// Media queries

@include media-breakpoint-down(lg) {
  .section-contact { padding-top: 60px }
}

/*
** END: CONTACT
*/


/*
** START: FOOTER
*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px 0;
  background-color: #e3e3e3;

  a {
    display: inline-block;
    margin: 0 16px;
    color: #848484;
    text-decoration: none;
  }
}

// Media queries

@include media-breakpoint-down(sm) {
  footer {
    flex-direction: column;

    a { margin-bottom: 30px }
    a:last-child { margin-bottom: 0 }
  }
}

/*
** END: FOOTER
*/
